alembic==0.9.9
algoliasearch==1.17.0
certifi==2022.12.7
chardet==3.0.4
click==6.7
Flask==1.0.2
Flask-Cors==3.0.6
Flask-Migrate==2.2.0
Flask-SQLAlchemy==2.3.2
idna==2.7
itsdangerous==0.24
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.1.1
psycopg2==2.7.4
python-dateutil==2.7.3
python-editor==1.0.3
requests==2.27.1
six==1.15.0
SQLAlchemy==1.2.8
urllib3==1.26.5
Werkzeug==0.16.1
boto3==1.9.169
PyYAML==5.1.2
Pillow==8.4

# for serving
gunicorn==20.1.0

# Frozen transitive dependencies:
botocore==1.12.253
cachetools==4.2.4
charset-normalizer==2.0.12
docutils==0.15.2
honeycomb-beeline==2.12.1
httplib2==0.20.4
jmespath==0.10.0
libhoney==2.1.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.9
rsa==4.8
s3transfer==0.2.1
statsd==3.3.0
uritemplate==4.1.1
Werkzeug==0.16.1
wrapt==1.14.1